#root {
    background-color: #007EA7;
    box-sizing: border-box;

}

html {
    background-color: #007EA7;
    box-sizing: border-box;
}
.App {
    text-align: center;
    float: top;
    display: flex;
    color:#fcf7f8;
    flex-direction: column;
    background-color: #1D3461;
    align-items: center;
    justify-content: center;
    border: 3px solid #fcf7f8;
    border-radius: 10px;
}

#root > div.container {
    background-color: #007EA7;
}

h1 {
   
   font-family:"Trade Winds";;
    font-size: 2rem;
    font-weight: 600;
}

h2 {
   
    font-family:"Trade Winds";
    font-size: 2rem;
    font-weight: 600;
}

h3 {
   
   font-family:"Trade Winds";
    font-size: 1.5rem;
    font-weight: 600;

}

p {
    color: #000000;
   font-family:"Trade Winds";
    font-size: 2rem;
    font-weight: 500;
}

li {
    color: #000000;
  font-family:"Trade Winds";
    font-size: 2rem;
    font-weight: 500;
}


.form-container {
    color: #fcf7f8;
    flex-direction: column;
    display: flex;
    margin:1% auto 1% auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-container>h2 {
    color: #fcf7f8;
    margin: 2% 0 2% 0;
    font-size: rem;
    font-weight: 600;
    align-items: center;
}


.form-group>label {
    color: #fcf7f8;
    font-family: 'Trade Winds';
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2% 0 2% 0;
    text-align: center;
}

.form-input {
    display: flex;
    justify-content: center;
    font-family: 'Trade Winds';
    text-align: center;
    margin: 2%;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    
}



.form-group {
    width: 100%;
    color: #fcf7f8;
    border: 2px solid #fcf7f8;
    background-color: #1D3461;
    border-radius: 10px;
    padding: 3%;
    margin: 5% 5% 5% 5%;
}


.form-container1>h2 {
    color: #fcf7f8;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10% 10% 4% 10%;
}

.form-group {
    display: flex;
    flex-direction: column, horizontal;
    align-items: center;
    justify-content: center;

}

button.user-login {
    color: #fcf7f8;
    border: solid 2px #fcf7f8;
    background-color: #1D3461;
    border-radius: 10px;
    padding: 2%;
    font-family: 'Trade Winds';
    font-size: 2em;
    align-items: center;
    margin: 1% auto 5% auto;
    display: flex;
}

button.user-login:hover {
    background-color: #de9151 ;
}

button.new-login {
    color: #fcf7f8;
    border: solid 2px #fcf7f8;
    background-color: #1D3461;
    font-family: 'Trade Winds';
    border-radius: 10px;
    padding: 2%;
    font-size: 2em;
    align-items: center;
    margin: 1% auto 5% auto;
    display: flex;
}

button.new-login:hover {
    background-color: #de9151;
}


#root>footer>p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fcf7f8;
    margin: 2% 0 2% 0;
}




