:root {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.App {
    text-align: center;
    float: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

h2 {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 800;
}

h3 {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 800;

}

p {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 700;
}

li {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 700;
}


.form-container1 {
    color: #090510;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 10px;
    display: block;
    position: center;
    margin: 1%;
}


.form-group>label {
    color: #000000;
    font-size: 1.5em;
    font-weight: 700;
    margin: 2% 0 2% 0;
}

.form-input {
    display: flex;
    justify-content: center;
    margin: 2%;
    border-radius: 5px;
    padding: 5px;
}



.form-group {
    color: #000000;
    border: 2px solid #001524;
    border-radius: 10px;;
    padding: 3%;
    margin: 5% 5% 5% 5%;
}


.form-container1>h2 {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 4% 10% 4% 10%;
}

.form-group {
    display: flex;
    flex-direction: column, horizontal;
    align-items: center;
    justify-content: center;

}

button.user-login {
    color: #000000;
    border: solid 2px #000000;
    background-color: #52796f;
    border-radius: 10px;
    padding: 2%;
    font-size: 2em;
    align-items: center;
    margin: 1% auto 5% auto;
    display: flex;  
}

button.new-login {
    color: #000000;
    border: solid 2px #000000;
    background-color: #52796f;
    border-radius: 10px;
    padding: 2%;
    font-size: 2em;
    align-items: center;
    margin: 1% auto 5% auto;
    display: flex; 
}

.container-newcommeents {
    display: relative;
    border-width: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

#root>div {
    background: none;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5% 10% 5% 10%
}

.commentContainer h1 {
    color: #52796f;
    font-size: 3rem;
    font-weight: 700;
    margin: 2% 10% 2% 10%;
}




ul.commentList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 5% 10% 5% 10%;
    padding: 5%;
    align-items: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

ul.commentList li {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 3px solid black;
    padding: 10px;
    margin: 5px 0;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#root>footer>p {
    text-align: center;
}


.container-newVehicle {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%
}

.form-newVehicle {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10%;
    width: 80%;
}