:root {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.App {
    text-align: center;
    float: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    color: #52796f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
}

h2 {
    color: #52796f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 800;
}

h3 {
    color: #52796f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 800;

}

p {
    color: #52796f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 700;
}

li{
    color: #52796f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 700;
}

input {
    display: flex;
    justify-content: center;
    margin: 2%;
    border-radius: 5px;
    padding: 5px;
}

.form-container1 {
    color: #090510;
    border: 2px solid #001524;
    display: block;
    position: center;
    margin: 1%;
}

.container > div > form > div > button:nth-child(1) {
    color: white;
    border: 2px solid #001524;
    background-color: #52796f;
    border-radius: 10%;
    padding: 2%;
    font-size: 2em;
    margin: 5%;
}

#root > div.container > div > form > div:nth-child(1) {
    color: white;
    border: 2px solid #001524;
    background-color: #52796f;
    padding: 3%;
    font-size: 1.5em;
    margin: 5% 5% 5% 5%;
}
#root > div.container > div > form > div:nth-child(2) {
    color: white;
    border: 2px solid #001524;
    background-color: #52796f;
    padding: 3%;
    font-size: 1.5em;
    margin: 5% 5% 5% 5%;
}

.form-container1>h2 {
    color: #52796f;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 4% 10% 4% 10%;
}

.form-group {
    display: flex;
    flex-direction: column, horizontal;
    align-items: center;
    justify-content: center;
    
}


button.new-login {
    color: white;
    border: none;
    border: solid 2px #001524;
    background-color: #52796f;
    padding: 2%;
    font-size: 2em;
    align-items: center;
    margin: 5% auto 5% auto;
    position: center;
}

.container-newcommeents {
    display: relative;
    border-width: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

#root>div {
    background: none;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5% 10% 5% 10%
}

.commentContainer h1 { 
    color: #52796f;
    font-size: 3rem;
    font-weight: 700;
    margin: 2% 10% 2% 10%;
}



.container-newVehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%
}

ul.commentList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 5% 10% 5% 10%;
    padding: 5%;
    align-items: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

ul.commentList li {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 3px solid black;
    padding: 10px;
    margin: 5px 0;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#root > footer > p {
    text-align: center;
}