.display-vehicles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.display-vehicles>p {
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
    margin: 2% auto 2% auto;
}

.display-vehicles>button {
    background-color: #1D3461;
    border: 1px solid #fcf7f8;
    color: #fcf7f8;
    display: flex;
    width: 35%;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    margin: 2% auto 2% auto;
    cursor: pointer;

}

.display-vehicles h1 {
    color: #fcf7f8;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 2% 4% 2% 4%;
}


div>ul.vehicle-list {

    list-style-type: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;

}

#root > div.container > div > button {
    border: 5px solid white;
    width: 500px;
    font-family: "Trade Winds";
    font-weight: 600;
    font-size:2rem;
    
}
div>ul.vehicle-list>li {
    color: #000000;
    border: 5px solid #fcf7f8;
    border-radius: 5px;
    font-weight: 550;
    margin: 4% auto 0% auto;
    ;
}



.vehicle-details {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: 2%;
    float: left;
    align-items: center;
    justify-content: center;

}

.vehicle-details>p {
    margin: 1%;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fcf7f8;
    margin: 0;
    padding: 0;

}

.vehicle-details>button {
    background-color: #1D3461;
    border: 1px solid #fcf7f8;
    color: #fcf7f8;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5em;
    margin: 2%;
}

.newestGas {

    color: #000000;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 2%;

}

.vehicle-summary {
    width:500px;
    background-color: #1D3461;
    color: #fcf7f8;
}