 .landing-body {
     width: 100vh;
 

 }

.landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5% 10% 5% 10%;
        padding: 2%;
    }

.landbtn {
    border: solid 2px #001524;
    margin: 5% auto 5% auto;
    padding: 2%;
    text-decoration: none;
}

.container>h1 {
     position: relative;
     text-align: center;
     margin: 5% auto 5% auto;

 }

 a:active {
     color: #0a0a0a
 }

 a:link {
     color: #0a0a0a
 }

 a:visited {
     color: #0a0a0a;
     text-decoration: none;
 }

 a:hover {
     color: #15616d
 }

 .links {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     margin: 5% auto 5% auto;
     
 }

 