#root > div.App > nav{
  width:100%;
  height:auto;
}


.navbar-logo {
  background-color: #1D3461
}

.navbar-logo>img {
  display:flex;
  float:left;
  margin:1% 2%;
}

.navbar-logo>ul {
  width:60%;
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: left;
  overflow: hidden;
  color: #fcf7f8;
}

.navbar-logo>li {
  color: #fcf7f8;
  font-size:1rem;
  
}

.navbar-logo>h1 {
  font-size: 3rem;
  color: #fcf7f8;

}

#root > div.App > nav > div > ul > li > a {
  font-size: 2rem;
  margin:10%;
  padding:5%;
  justify-content: center;
  text-align: center;
  color: #fcf7f8;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #1D3461;
  border: 2px solid #fcf7f8;
  border-radius: 10px;

}

li.dropdown {
  display: inline-block;
  color: #fcf7f8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1D3461;
  color: #fcf7f8;
  min-width: 160px;
  border-radius: 10px;
  z-index: 1;
}
.dropdown-content a {
  color: #fcf7f8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:visited {
  color: #fcf7f8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fcf7f8;
  color:#000000;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #fcf7f8;
}


div > ul > li > div > a:nth-child(4) > button {
  background-color: #1D3461;
  border: 1px solid #fcf7f8;
  justify-content: center;
  margin: 2% auto 2% auto;
  color: #fcf7f8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
