#root > div.App > nav{
  width:100%;
  height:auto;
}


.navbar-logo {
  background-color: #1D3461;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  flex-wrap: nowrap;
  font-size: 1.5rem;
}

.navbar-logo>img {
  flex-shrink: 0;
}

.navbar-logo>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: left;
  overflow: visible;
  color: #fcf7f8;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.navbar-logo>li {
  color: #fcf7f8;
  font-size: 1rem;
  white-space: nowrap;
}

.navbar-logo>h1 {
  font-family: "Trade Winds", system-ui;
  font-size: 1.5rem;
  color: #fcf7f8;
  margin: 0;
  white-space: nowrap;
}

#root > div.App > nav > div > ul > li > a {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  justify-content: center;
  text-align: center;
  color: #fcf7f8;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 10px;
}

#root > div.App > nav > div > ul > li > a:hover {
  background-color: #1D3461;
  border: 2px solid #fcf7f8;
  border-radius: 10px;
  box-sizing: border-box;
}

li.dropdown {
  display: inline-block;
  color: #fcf7f8;
  font-family: "Trade Winds";
  border: 2px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1.5rem;

}

.dropbtn {
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1D3461;
  color: #fcf7f8;
  width: auto;
  height:auto;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 1;
}
.dropdown-content a {
  color: #fcf7f8;
  text-decoration: none;
  display: block;
  font-family:"Trade Winds";
  border: 2px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}

.dropdown-content a:visited {
  color: #fcf7f8;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fcf7f8;
  color:#000000;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #fcf7f8;

}


div > ul > li > div > a:nth-child(4) > button {
  background-color: #1D3461;
  border: 1px solid #fcf7f8;
  border-radius: 10px;
  justify-content: center;
  margin: 0% auto 0% auto;
  color: #fcf7f8;
  text-decoration: none;
  display: block;
  font-family: "Trade Winds";
  font-size: 1.5rem;
}

ul.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}