.new-gas-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 2%;
}

.new-gas-entry>p {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #fcf7f8;
}

.new-gas-entry>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-gas-entry>form>label {
  margin: 1%;
  font-size: 1.5rem;
  color: #fcf7f8;
  
}

.new-gas-entry>form>input,
.new-gas-entry>form>select {
  margin: 1%;
  padding: 0.5em;
  font-size: 1.2rem;
  color: #fcf7f8;
  border: 1px solid #000000;
  background-color: #1D3461;
  border-radius: 5px;
}

.new-gas-entry>form>button {
  margin: 1%;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight:600;
  background-color: #1D3461;
  color: #fcf7f8;
  border: 1px solid #fcf7f8;
  border-radius: 5px;
  cursor: pointer;
}

.date>input {
  background-color: #1D3461;
  border: 1px solid #fcf7f8;
  padding: 0.5em;
  color:#fcf7f8;
}


#root > div.container > div > ul > li > div.newestGas > div > form > button {
  background-color: #1D3461
}

