.newMaintenanceEntry {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.newMaintenanceEntry>h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2%;
}

.newMaintenanceEntry>button {
    font-size:1.5rem;
    background-color:#7C7C7C ;
}

.vehicle-info {
    display: flex;
    flex-direction: column;
    columns: 2;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.vehicle-info>form {
    display: flex;
    flex-direction: column;
    column-count: 2;
    width: 100%;
    gap: 10px;

}

.maintenance_form {
    display:flex

}
.long-label {
    display:flex;
    flex-direction: column;
    
}

label#maintenance_title {
    font-size:2rem;
    font-weight:600;
}

input#maintenance_title {
    width:100%;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size:1.5rem;
    padding:1%
}

label#maintenance_description {
    font-size:2rem;
    font-weight:600;
}

input#maintenance_description {
    width:300px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size:1.5rem;
    padding:3%;
}

label#parts_needed {
    font-size:2rem;
    font-weight:600;
}

input#parts_needed {
    width:100%;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size:1.5rem;
    padding:3%
}

.short-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:1%;
    margin: 1% 0;
    align-items: center;
}

.short-label>label {
    display: row;
    font-size:1.5rem;
    font-weight: 600;
    width: 30%;
    margin: 1% 0;
    padding: 1%;
    text-align: left;
    text-decoration: none;
    
}

.short-label>label>input[type=number] {
    display:flex;
    flex-wrap: wrap;
    width: 40%;
    text-decoration: none;
    font-size:1.5rem;
    border-radius: 5px;
    border: 2px solid #000000;
}

.short-label>label>input[type=checkbox] {
    display:flex;
    flex-wrap: wrap;
    width: 40%;
    text-decoration: none;
    font-size:1.5rem;
    border-radius: 5px;
    border: 2px solid #000000;
}
.vehicle-info>form>label>input:focus {
    outline: none;
    border-color: #007bff;
}

#root > div.container > div > div.vehicle-info > form > button
 {
    font-size:1.5rem;
    background-color:#7C7C7C;
    width:40%;
    align-self: center;
 }

 li.records {
    font-size: 2rem;
    font-weight: 600;
 }

 .existing-maintenance>ul button {
    font-size:1.5rem;
    background-color: #7C7C7C;
 }